.no-sideBar#sideBarContainer{
    display: flex;
    right: 100%;
    transition: right .500s ease-in-out;
}

#sideBarContainer {
    background-color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
    min-height: 600%;
    top: 608%;
    right: 10%;
    padding-left: 5%;
    transition: right .500s ease-in-out;
    width: 30%;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.headerContainer {
    align-items: flex-end;
    background-color: black;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .displayContainer {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #sideBarContainer {
        padding-left: 10%;
        width: 20%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .displayContainer {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}