.no-sideBar#sideBarContainer{
    display: flex;
    right: 100%;
    transition: right .500s ease-in-out;
}

#sideBarContainer {
    background-color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    position: relative;
    min-height: 600%;
    top: 608%;
    right: 10%;
    padding-left: 5%;
    transition: right .500s ease-in-out;
    width: 30%;
}