.itemsContainer {
    align-items: flex-end;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
}

.itemsOption {
    display: flex;
    flex: 1;
    justify-content: center;
}

.itemP {
    font-size: .5em;
}

.itemSelected {
    flex: 1;
    background-color: rgba(235, 64, 52, .9);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .itemP {
        font-size: .75em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .itemP {
        font-size: 1em;
    }
}

@media screen and (min-width: 1201px) {
    .itemsContainer {
        align-items: flex-start;
        border: none;
        display: block;
        flex-direction: column;
        min-width: 0;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        min-height: 300px;
        width: 100%;
    }

    .itemP {
        font-size: 1.25em;
    }
}
