.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 15%;
    width: 100%;
}

.createLink {
    background-color: rgb(39, 227, 117);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    margin-bottom: 7%;
    padding: 3%;
    text-decoration: none;
    width: 40%;
}

.forgotLink {
    margin: 3%;
    margin-bottom: 10%;
    text-decoration: none;
}

.form {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 4px gray;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 80%;
}

.input {
    background-color: rgba(156, 219, 255);
    border: grey 1px solid;
    border-radius: 8px;
    height: 40px;
    margin: 5%;
    min-width: 90%;
}

.login {
    background-color: rgb(43, 149, 255);
    border: rgb(43, 149, 255) 1px solid;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    height: 40px;
    margin: 5%;
    width: 90%;
}
