.cartContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.cartItem {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    max-width: 80%;
}

.checkout {
    margin-bottom: 5%;
}

@media screen and (min-width: 1025px) {
    .cartContainer {
    }
}